<h1>All Articles</h1>

<ul id="articles">
  <% @articles.each do |article| %>
    <li>
	  <%= link_to article.title, article_path(article)%> <%#article path uses primary key?%>
    </li>
  <% end %>
  <%= link_to "Create a new article", new_article_path, class: "new_article" %>  <%#how do you use CSS classes in erb?%>
</ul>